!!!
%html
  %head
    %title Nell Shamrell-Harrington's Website
    %link(rel="stylesheet" href="css/bootstrap.css")
    %link(rel="stylesheet" href="css/bootstrap-responsive.css")
    %script(src="/js/bootstrap.min.js")

    #content
      =yield
